<br><br>
<footer class="footer">
    <div class="footer-content">

        <h3 class="footer__title">Ideologies</h3>

        <p class="footer__info">
            In Ideologies you are able to have friendly & safe debates, tune into our podcast and join a voice chat to debate or listen to music there! We also have a podcast you can tune into.
        </p>
        
        <ul class="socials">
            <li><a a href="https://discord.gg/h7U9Kc2hCd" target="_blank" rel="noopener noreferrer"><img src="/img/socials/discord.png" alt="Discord"></i></a></li>
            <li><a href="https://www.instagram.com/ideologies_server/" target="_blank" rel="noopener noreferrer"><img src="/img/socials/instagram.png" alt="instagram"></i></a></li>
            <li><a href="https://twitter.com/Ideologies_Srv" target="_blank" rel="noopener noreferrer"><img src="/img/socials/twitter.png" alt="twitter"></a></li>
            <li><a href="https://www.youtube.com/@IdeologiesDiscord" target="_blank" rel="noopener noreferrer"><img src="/img/socials/youtube.png" alt="youtube"></a></li>
            <li><a href="https://open.spotify.com/show/1WkkKk0E42m2tf6mjxECeG" target="_blank" rel="noopener noreferrer"><img src="/img/socials/spotify-logo.png" alt="spotify"></a></li>
        </ul>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/footer.css">
    </div>
</footer>
