<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none; background-color: var(--accent-color);" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large"
    onclick="nav_close()">Close &times;</button>
    <a href="#discord" class="w3-bar-item w3-button">Discord</a>
    <a href="#youtube" class="w3-bar-item w3-button">YouTube</a>
    <a href="https://podcasts.ideologies.live" class="w3-bar-item w3-button">Podcast</a>
    <a href="#twitter" class="w3-bar-item w3-button">Twitter</a>
</div>
<button id="openNav" class="sticky" onclick="nav_open()">&#9776;</button>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="/js/sidenav.js"></script>
