<html lang="en">
    <%- include('includes/head.ejs', { title: "Home", description: "Ideologies is a simple place to come relax, talk with some folks, and have a political debate when you want. Our main principle is civility and a calm place for debate, while also being a nice community of people to hang out with when your bored. We have plenty of roles and plenty of space, so come chill and talk about Philosophy, Religion, Politics and pretty much anything there is to discuss.", icon: "/img/ideologies_logo.png", css: "/css/index.css" }) %>
    <body>
        <%- include('./includes/nav.ejs') %>
        <div class="content" id="main">
            <div class="overlap">
            </div>
            <img class="logo-overlap" src="/img/ideologies_logo.png" alt="Ideologies logo">
            <main>
                <div>
                    <h1>Welcome on the Ideologies website!</h1><br>
                    <p>Ideologies is a simple place to come relax, talk with some folks, and have a political debate when you want. Our main principle is civility and a calm place for debate, while also being a nice community of people to hang out with when your bored. We have plenty of roles and plenty of space, so come chill and talk about Philosophy, Religion, Politics and pretty much anything there is to discuss.</p>
                </div>
            </main>
            
            <div id="discord">
                <hr style="border-color: #007cb9">
                <h2><a href="/discord">Join our Discord server!</a></h2>
                <br>
                <p style="padding-right:5rem; padding-left:5rem;">Welcome to our family-friendly debate discord server! Here, we encourage respectful and constructive discussions on a variety of topics. We welcome people of all ages and backgrounds to join in and share their perspectives. <br><br>

                    Our server is moderated to ensure a safe and positive environment for everyone. Personal attacks, hate speech, and offensive language will not be tolerated. We ask that all members conduct themselves with kindness and empathy towards others. <br><br>
                    
                    We have a variety of channels for different topics, including current events, politics, science and history, and more. We also have a channel for off-topic discussions, where members can get to know each other and share their interests. <br><br>
                    
                    We encourage members to share sources and evidence to support their arguments, and to consider the perspectives of others. Our goal is to foster understanding and learning, not to "win" debates. <br><br>
                    
                    Thank you for joining our server, and we look forward to engaging in meaningful discussions with you!</p>
                
            </div>
            <br>
            <br>
            <div id="youtube">
                <hr style="border-color: #007cb9">
                <h3>Follow us on Youtube</h3>
                
            </div>
            <br><br>
            <div id="twitter">
                <hr style="border-color: #007cb9">
                <h3>Follow us on Twitter</h3>
                <a class="twitter-timeline" data-width="500" data-height="700" data-theme="dark" href="https://twitter.com/Ideologies_Srv?ref_src=twsrc%5Etfw">Tweets by Ideologies_Srv</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
            <%- include('./includes/footer.ejs') %>
        </div>
    </body>
</html>