<html lang="en">
    <%- include('./includes/head.ejs') %>
    <body>
        <div class="overlap">
        </div>
        <img class="logo-overlap" src="/img/ideologies_logo.png" alt="Ideologies logo">
        <main>
            <div>
                <h1>Welcome on the Ideologies website!</h1><br>
                <p>Ideologies is a simple place to come relax, talk with some folks, and have a political debate when you want. Our main principle is civility and a calm place for debate, while also being a nice community of people to hang out with when your bored. We have plenty of roles and plenty of space, so come chill and talk about Philosophy, Religion, Politics and pretty much anything there is to discuss.</p>
            </div>
        </main>

        <!-- <div>
            <iframe src="https://canary.discord.com/widget?id=804111685664768032&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div> -->
        <%- include('./includes/footer.ejs') %>
    </body>
</html>