<html lang="en">
    <%= include('./includes/head.ejs', { title: "Podcast", description: "Learn more about our podcast!", icon: "/img/ideologies_logo.png", css: "/css/podcast.css" }) %>
<body>
    
</body>
</html>