@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #264773;
        --text-color: white;
        --accent-color: #002a3e;
        --link-color: #6200b3;
    }
}

@media (prefers-color-scheme: light) {
    :root {
         --background-color: #B3C9E6;
         --text-color: black;
         --accent-color: #004466
         --link-color: #af4eff;
    }
}

footer {
    border-top: 1px solid var(--accent-color);
    padding: 10px;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}

footer .footer__title {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Raleway;
    margin-bottom: 1rem;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer .logo {
    margin: 0 10px;
    border-radius: 50%;
}

footer .footer__info {
    text-align: center;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials img {
    width: 30px;
    margin: 0 10px;
}
