@media (prefers-color-scheme: dark) {
    :root {
       --background-color: #264773;
       --text-color: white;
       --accent-color: #002a3e;
       --link-color: #6200b3;
       --button-color: #FFFFFF
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #B3C9E6;
        --text-color: black;
        --accent-color: #004466
        --link-color: #af4eff;
        --button-color: #B3C9E6;
    }
}        

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

a {
    color: var(--link-color);
}

.overlap {
    background-image: url("/img/ideologies_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
}

.logo-overlap {
    border: .75rem solid var(--background-color);
    border-radius: 50%;
    height: 15rem;

    margin-top: -5rem;
}

html {
    scroll-behavior: smooth;
}


main h1 {
    font-family: Raleway;
}

main p {
    font-family: Poppins;
    padding-left: 2rem;
    padding-right: 2rem;
}

.twitter-timeline {
    margin-left: auto;
    margin-right: auto;
}


#openNav {
    position: fixed;
    top: 1em;
    left: 1rem;
    width: 40px;
    height: 40px;
    background-color: var(--background-color);
    border-radius: 50%;
    border-color: var(--accent-color)
}

.openNav:hover {
    cursor: pointer;
}
